<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-left">
                <div class="card-body">
                    <h3>Bienvenido {{user.username}}</h3>
                    <h4>Nombre: {{user.nombre}} {{user.second_name}} {{user.last_name_father}} {{user.last_name_mother}}</h4>
                    <h5>Nivel: {{user.ID_nivel}}</h5>
                    <a href="/Mexico/{{user.ID_usuario}}/edit-user" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>