<head>
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <br>
    <div class="container">
        <div id="App" class="row pt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <table class="card-table">
                            <thead>
                                <tr>
                                    <th class="td1"><input type="text" placeholder="Busca a un usuario..." class="form-control" name="usernameSearch" autofocus></th>
                                    <th class="td2"><button class="btn" onclick="search_official()">🔎</button></th>
                                    <th class="td2"><button class="btn-add" onclick="nextWeb(this.id+'/add-user')">+</button></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    
                    <div class="card-body card-information">
                        <!--this add all the product of the client-->
                        {{#each criminals}}
                            <div class="card mb-4">
                                <div class="card-body">
                                    {{#if img}}
                                        <img class="img-info" src="https://media.gq.com.mx/photos/649391b89ec62ce6c5b091a5/4:3/w_2668,h_2001,c_limit/mejores-hamburguesas.jpg">
                                    {{else}}
                                        <img class="img-info" src="https://cdn-icons-png.flaticon.com/512/1022/1022333.png">
                                    {{/if}}
                                    <strong>{{Nombre}}</strong>
                                    <button id="{{ID_detenido}}" onclick="edit_department(this.id)"><i class="fi-department fi-sr-pencil"></i></button>
                                    <button id="{{ID_detenido}}" onclick="delate_user(this.id)"><i class="fi-department fi-sr-trash"></i></button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <!--This is the card for see the description of the product-->
                <div class="card text-center mb-4">          
                    <div class="card-body">
                        {{#if criminal}}
                            {{#each criminal}}
                                <label>{{Alias}}</label><br>
                                <img class="img-description" src="https://cdn-icons-png.flaticon.com/512/1022/1022333.png"><br>

                                <strong>{{Nombre}} {{Ap_paterno}} {{Ap_materno}}</strong>
                                <br><br>

                                <button class="card-btn-description" id="{{ID_detenido}}" onclick="edit_department(this.id)"><i class="fi-item fi-rr-box-alt"></i>Edit</button>
                                <button class="card-btn-description" id="{{ID_detenido}}" onclick="delate_user(this.id)"><i class="fi-item fi-rr-time-past"></i>Delate</button>
                                <br><br><br>
                                <div class="card mb-4">
                                    <div class="card-bod">
                                    <table class="my-table-price">
                                    </table>
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}
                            <label>user</label><br>
                            <img class="img-description" src="https://cdn-icons-png.flaticon.com/512/1022/1022333.png"><br>

                            <strong>Name</strong>
                            <br><br>

                            <button class="card-btn-description"><i class="fi-item fi-rr-box-alt"></i>Edit</button>
                            <button class="card-btn-description"><i class="fi-item fi-rr-time-past"></i>Delate</button>
                            <br><br><br>
                            <div class="card mb-4">
                                <div class="card-bod">
                                <table class="my-table-price">
                                </table>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        async function delate_user(id){
            if(await questionMessage('Eliminar criminal','Quieres eliminar a este criminal?')){
                window.location.href = "/Mexico/"+id+"/delate-criminal";
            }
        }

        async function edit_department(id){
            window.location.href = "/Mexico/"+id+"/edit-user";
        }

        function search_official(){
            var inputUser = document.getElementsByName("usernameSearch")[0];
            console.log(inputUser);
            var username = inputUser.value;
            if (username === "") {

            }else{
                window.location.href = "/Mexico/search-criminals/"+username;
            }
        }
    </script>
    <script src="/js/other.js"></script>
</body>
